name = "filedrop"
main = "worker.js"
compatibility_date = "2023-10-30"

[durable_objects]
bindings = [
  { name = "ROOM", class_name = "Room" }
]

[[migrations]]
tag = "v1"
new_classes = ["Room"]

[assets]
directory = "./public"
binding = "ASSETS"
